.custom-navbar {
    background-color: rgb(53, 162, 159); /* Your desired background color */
    font-family: 'Merriweather', serif;
}

.custom-padding {
    margin-left: 50px;
}

ul li .white {
    color: white;
    padding-right: 50px;
}

ul li .white:hover {
    color: rgb(168, 238, 247);
}

main {
    margin: 0;
    text-align: center;
    color: #40514E;
    font-family: 'Merriweather', serif;
    background-color: #f8f8f8;
}

.top-container h1 {
    margin: 30px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
    font-weight: bold;
}

.top-container h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
    margin: 33.20px 0;
}

.middle-container h2 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    margin: 33.20px 0;
}

.middle-container hr {
    border: 6px dotted #1abc9c;
    border-bottom: none;
    width: 5%;
    margin: 100px auto;
}

.top-container {
    background-color: #E4F9F5;
    padding-top: 100px;
    padding-bottom: 50px;
}

.top-container img {
    width: 40%;
    margin: 50px 0;
}

.middle-container {
    margin: 100px 0;
}

.middle-container h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: 500;
}

.middle-container .certification, .view-resume-btn, .contact-me .btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999e);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999e);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999e);
    background-image: -o-linear-gradient(top, #11CDD4, #11999e);
    background-image: linear-gradient(to bottom, #11CDD4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 0 5px;
    border: none;
    cursor: pointer;
    transition: background 0.15s, color 0.15s;
}

.middle-container .certification:hover, .view-resume-btn:hover, .contact-me .btn:hover {
    background: #ffffff;
    color: #11CDD4;
}

.middle-container .download {
    padding: 10px 39.5px;
}

.profile-picture {
    background-color: lightblue;
    width: 300px;
    height: 300px;
    border-radius: 5px;
    border: 3px solid #11999E;
    object-fit: cover;
}

.middle-container .intro {
    width: 30%;
    margin: auto;
    text-align: center;
    line-height: 1.5;
}

.horizontal-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    align-items: center;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.bottom-container .pipe {
    color:#11999E;
    visibility: hidden;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

main a {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.15s;
}

a:hover {
    color: #EAF6F6;
}

.social-icon {
    color: #11999E;
    margin-right: -15px;
    transition: color 0.15s;
}

.social-icon:hover {
    color: #f8f8f8;
}

.name {
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
}

@media (max-width: 1028px) {
    .top-container h1 {
        font-size: 4rem;
        margin-top: 55px;
    }
    .top-container h2 {
        font-size: 2rem;
    }
    .top-container img {
        width: 60%;
    }
    .middle-container .intro {
        width: 73%;
    }
    .middle-container .certification, .view-resume-btn {
        margin: 5px 0;
    }
    .middle-container hr {
        width: 15%;
    }
    main {
        margin: 0;
        padding: 0;
    }
    .horizontal-row p {
        width: 100%;
    }
    .horizontal-row .degree-img {
        width: 100%;
        margin-bottom: 20px;  
        padding-right: 12%;
    }
    .horizontal-row .skills-img {
        width: 80%;
        margin-bottom: 40px;
        float: left;
        padding-right: 25px;
    }
    .horizontal-row .sngpl-img {
        width: 100%;
    }
    .horizontal-row .lan-image {
        width: 100%;
        margin-bottom: 20px;
        height: 50%;
    }
    .horizontal-row .brains-img {
        width: 100%;
        margin-bottom: 20px;
    }
}

.horizontal-row h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.horizontal-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    align-items: center;
}

.horizontal-row p {
    margin: 5px 0;
}

.degree-img {
    width: 30%;
    height: 233px;
    float: left;
    margin-right: 135px;
    object-fit: cover;
}

.skills-img {
    width: 20%;
    height: 140px;
    float: right;
    object-fit: contain;
}

.sngpl-img {
    width: 30%;
    height: 321px;
    float: left;
    margin-right: 110px;
}

.lan-image {
    width: 30%;
    float: right;
    margin-left: 120px;
    height: 247px;
}

.brains-img {
    width: 30%;
    float: left;
    margin-right: 165px;
}
